@model List<Golestan.Models.User>

@{
    ViewData["Title"] = "User Table";
}

<h2>Users List</h2>
<a class="btn btn-success mb-3" asp-action="CreateUser">+ Add User</a>
@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">No users found.</div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].FirstName</td>
                    <td>@Model[i].LastName</td>
                    <td>@Model[i].Email</td>
                    <td>@Model[i].CreatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>
                        <form asp-action="DeleteUser" asp-route-id="@Model[i].Id" method="post" style="display:inline">
                            <button type="submit" onclick="return confirm('آیا مطمئن هستید؟');">Delete</button>
                        </form>
                    </td>
                </tr>
            
            }
        </tbody>
    </table>
}